basePath: /api
definitions:
  router.HealthResponse:
    properties:
      status:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: Das ist eine Beispiel Go API mit Swagger
  title: Beispiel API
  version: "1.0"
paths:
  /health:
    get:
      description: Prüft ob die API läuft
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/router.HealthResponse'
      summary: Health Check
      tags:
      - health
swagger: "2.0"
