@use './../../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $prime-dark;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.7rem;

  &.archiv {
    color: $second-dark;
    font-style: italic;
  }

  span {
    font-size: 1.7rem;
    font-weight: normal;
    width: 12rem;
    text-align: center;

    &.hersteller {
      width: 20rem;
    }

    &.empty {
      color: $second-dark;
      font-size: 1.2rem;
    }

    span.nummer {
      color: $white;
    }
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    width: 55rem;
    justify-content: flex-end;

    section {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: $bp-mobile) {
  :host {
    flex-direction: column;
    align-items: stretch;
    gap: 0.6rem;

    span {
      width: auto;
      text-align: center;
      font-size: 1.5rem;

      &.label {
        font-weight: 600;
      }

      &.hersteller {
        width: auto;
      }
    }

    div.buttons {
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;

      section {
        flex-direction: row;
        align-items: center;

        button {
          width: 100%;
        }
      }
    }
  }
}