<app-filament-farbe [farbcode]="spule.filament.farbcode" [farbe]="spule.filament.farbe" />

<span class="hersteller">{{spule.filament.hersteller.name}} - {{spule.filament.material.name}}</span>

<span>{{spule.verbrauchtes_Gewicht | number}}g</span>
<span>{{spule.verbleibendes_Gewicht | number}}g [{{spule.verbrauch_prozent| number:'1.0-0'}}%]</span>

<span *ngIf="!spule.nfc && !spule.nummer" class="empty">
  kein Tag zugeordnet<br>
  keine Nr. zugeordnet
</span>
<span *ngIf="!spule.nfc && spule.nummer" class="empty">
  kein Tag zugeordnet<br>
  <span class="nummer">Nummer: {{spule.nummer}}</span>
</span>
<span *ngIf="spule.nfc && spule.nummer">Nummer: {{spule.nummer}}</span>

<span [class.empty]="!spule.ort.name">{{spule.ort.name || "kein Ort"}}</span>

<div class="buttons">
  <section *ngIf="!spule.archiviert">
    <button (click)="chanceGewicht()"><mat-icon svgIcon="gewicht"></mat-icon>Gewicht anpassen</button>
  </section>

  <section *ngIf="!spule.archiviert">
    <button (click)="chanceNFC('update')"><mat-icon svgIcon="nfc"></mat-icon>NFC bearbeiten</button>
    <button *ngIf="spule.nfc" (click)="chanceNFC('remove')" ><mat-icon svgIcon="nfc-off"></mat-icon>NFC entfernen</button>
  </section>

  <section *ngIf="!spule.archiviert">
    <button (click)="chanceOrt('update')"><mat-icon>location_on</mat-icon>Ort auswählen</button>
    <button *ngIf="spule.ort.name" (click)="chanceOrt('remove')"><mat-icon>location_off</mat-icon>Ort entfernen</button>
  </section>

  <section>
    <button *ngIf="!spule.archiviert" (click)="chanceArchiv()"><mat-icon>archive</mat-icon>archivieren</button>
    <button *ngIf="spule.archiviert" (click)="chanceArchiv()"><mat-icon>upgrade</mat-icon>wieder aktivieren</button>
    <button (click)="remove()" class="delete"><mat-icon>delete</mat-icon>löschen</button>
  </section>
</div>