@use './../../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $prime-dark;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.7rem;

  &.archiv {
    color: $second-dark;
    font-style: italic;
  }

  span {
    font-size: 1.7rem;
    font-weight: normal;
    width: 12rem;
    text-align: center;

    &.hersteller {
      width: 20rem;
    }

    &.empty {
      color: $second-dark;
      font-size: 1.2rem;
    }

    span.nummer {
      color: $white;
    }
  }

  div.farbe {
    display: flex;
    align-items: center;

    span {
      text-align: left;
      width: 13rem;
    }

    div.farbcode {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      margin-right: 1rem;
      border: 1px solid $prime-dark;
    }
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    width: 55rem;
    justify-content: flex-end;

    section {
      display: flex;
      flex-direction: column;
    }
  }
}