<div class="data">
  <app-filament-farbe [farbcode]="spule.filament.farbcode" [farbe]="spule.filament.farbe" [nummer]="spule.nummer" />

  <span>{{spule.filament.hersteller.name}} - {{spule.filament.material.name}}</span>

  <span>{{spule.verbleibendes_Gewicht | number}}g / {{spule.filament.gewicht_filament | number}}g [{{spule.verbrauch_prozent | number:'1.0-0'}}%]</span>
</div>

<div class="buttons">
  <button (click)="showSpule()"><mat-icon>visibility</mat-icon></button>
  <mat-icon class="drag" cdkDragHandle>drag_indicator</mat-icon>
</div>