@use './../../../scss/var' as *;

:host {
  padding: 0.7rem;
  margin: 0.7rem;
  border: 1px solid $prime-dark;
  border-radius: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  

  div.data {
    display: flex;
    flex-direction: column;
  }

  div.buttons {
    display: flex;
    height: 100%;
    align-items: center;
  }
}