<div class="data">
  <div class="farbe">
    <div class="farbcode" [ngStyle]="{'background-color': spule.filament.farbcode}">{{spule.nummer || ""}}</div>
    <span>{{spule.filament.farbe}}</span>
  </div>

  <span>{{spule.filament.hersteller.name}} - {{spule.filament.material.name}}</span>

  <span>{{spule.verbleibendes_Gewicht | number}}g / {{spule.filament.gewicht_filament | number}}g</span>
</div>

<div class="buttons">
  <button (click)="showSpule()"><mat-icon>visibility</mat-icon></button>
  <mat-icon class="drag">drag_indicator</mat-icon>
</div>