<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeNav()">
        <mat-icon>home</mat-icon>Home
      </a>
    </li>

    <li>
      <a routerLink="/spulen" routerLinkActive="active"
      (click)="closeNav()">
        <mat-icon svgIcon="spool"></mat-icon>Spulen
      </a>
    </li>

    <li>
      <a routerLink="/ort" routerLinkActive="active"
      (click)="closeNav()">
        <mat-icon>location_on</mat-icon>Ort
      </a>
    </li>

    <li>
      <a routerLink="/filament" routerLinkActive="active"
      (click)="closeNav()">
        <mat-icon>gesture</mat-icon>Filament
      </a>
    </li>

    <li>
      <a routerLink="/materialHersteller" routerLinkActive="active"
      (click)="closeNav()">
        <mat-icon svgIcon="material"></mat-icon>
        Material / 
        <mat-icon svgIcon="manufacturer"></mat-icon>
        Hersteller
      </a>
    </li>

    <li>
      <a routerLink="/einstellungen" routerLinkActive="active"
      (click)="closeNav()">
        <mat-icon>settings</mat-icon>Einstellungen
      </a>
      </li>
  </ul>
</nav>