<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>home</mat-icon>Home</a></li>
    <li><a routerLink="/spulen" routerLinkActive="active"><mat-icon svgIcon="spool"></mat-icon>Spulen</a></li>
    <li><a routerLink="/ort" routerLinkActive="active"><mat-icon>location_on</mat-icon>Ort</a></li>
    <li><a routerLink="/filament" routerLinkActive="active"><mat-icon>gesture</mat-icon>Filament</a></li>
    <li><a routerLink="/material" routerLinkActive="active"><mat-icon svgIcon="material"></mat-icon>Material</a></li>
    <li><a routerLink="/hersteller" routerLinkActive="active"><mat-icon svgIcon="manufacturer"></mat-icon>Hersteller</a></li>
    <li><a routerLink="/einstellungen" routerLinkActive="active"><mat-icon>settings</mat-icon>Einstellungen</a></li>
  </ul>
</nav>