<h1>{{ort.name}} [{{spulenList.length}}]</h1>
<div class="buttons">
  <button *ngIf="ort.id != '__kein_ort__'" (click)="update()"><mat-icon>edit</mat-icon></button>
  <button *ngIf="ort.id != '__kein_ort__'" (click)="remove()" class="delete"><mat-icon>delete</mat-icon></button>
</div>

<div cdkDropList [cdkDropListData]="spulenList" (cdkDropListDropped)="drop($event)" class="drop-list">
  <div *ngIf="spulenList.length === 0" class="drop-placeholder">
    Spule hier ablegen
  </div>
  <app-template-list-ort-spule *ngFor="let spule of spulenList" cdkDrag [spule]="spule" [cdkDragStartDelay]="dragDelay" />
</div>