@use './../../../scss/var' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 33rem;
  border-radius: 1rem;
  border: 1px solid $second-dark;
  padding-top: 0.7rem;
  margin: 2rem;

  h1 {
    text-align: center;
  }

  div.drop-list {
    height: 100%;
    max-height: 50rem;
    overflow-y: scroll;
    scrollbar-color: $second-dark rgba(255, 255, 255, 0.0);
    border-radius: 0 0 1rem 1rem;
  }
  .drop-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    text-align: center;
    padding: 6px;
    pointer-events: none;
    height: 5rem;
  }

  div.buttons {
    display: flex;
    border-bottom: 1px solid $second-dark;
    padding: 0 0.7rem;

    button {
      width: 100%;
    }
  }
}