@use './../../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $prime-dark;
  padding: 0.7rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 55rem;

  span {
    font-size: 1.7rem;
    font-weight: normal;
    width: 10rem;
    text-align: center;
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    width: 20.5rem;
  }
}