@use './../../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $prime-dark;
  padding: 0.7rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 55rem;

  span {
    font-size: 1.7rem;
    font-weight: normal;
    width: 10rem;
    text-align: center;

    &.label {
      display: none;
      font-weight: 600;
      opacity: 0.7rem;
      margin-right: 0.4rem;
      font-size: 1.4rem;
    }
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    width: 20.5rem;
  }
}

@media (max-width: $bp-mobile) {
  :host {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;

    span {
      width: auto;
      text-align: left;
      font-size: 2rem;

      &.value {
        font-size: 1.4rem;
      }

      &.label {
        display: inline;
      }
    }

    div.buttons {
      width: 100%;
      margin-top: 0.5rem;
      gap: 0.5rem;

      button {
        flex: 1;
        justify-content: center;
      }
    }
  }
}