@use './../../../scss/var' as *;

header {
  height: 8rem;
  padding: 1rem;
  width: 100%;
  border-bottom: solid 5px $second-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  button.nav {
    display: none;
  }

  div#left {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $prime-dark;
    }

    span {
      font-size: 2rem;
      text-transform: none;
      line-height: 1rem;
      color: $white;
    }
  }

  div#nav {
    height: 100%;
  }
}

@media (max-width: $bp-mobile) {
  header {
    z-index: 99;
    height: auto;

    button.nav {
      display: flex;
      background: none;
      color: $white;
      cursor: pointer;

      mat-icon {
        font-size: 2.5rem;
        height: auto;
        width: auto;
      }
    }

    div#nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: $prime;
      max-height: 0;
      overflow: hidden;
      transition: max-height 300ms ease;
      height: auto;

      &.open {
        max-height: 100vh;
        border-bottom: solid 5px $second-dark;
      }
    }
  }
}