@use './../../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $prime-dark;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.7rem;

  span {
    font-size: 1.7rem;
    font-weight: normal;
    width: 12rem;
    text-align: center;

    &.hersteller {
      width: 16rem;
    }
  }

  span.label {
    display: none;
    font-weight: 600;
  }

  div.gewicht {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.buttons {
    display: flex;
    flex-direction: column;
    width: 20.5rem;

    section {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (max-width: $bp-mobile) {
  :host {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;

    span {
      width: auto;
      text-align: center;
      font-size: 1.4rem;

      &.hersteller {
        width: auto;
      }
    }

    span.label {
      display: inline;
    }

    div.gewicht {
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
    }

    div.buttons {
      width: 100%;
      gap: 0.5rem;

      section {

        button {
          width: 100%;
        }
      }
    }
  }
}