@use './../../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $prime-dark;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.7rem;

  h3 {
    font-size: 1.7rem;
    font-weight: normal;
    width: 20rem;
    text-align: center;

    a {
      color: $white;
    }
  }

  div.farbe {
    display: flex;
    align-items: center;

    h3 {
      text-align: left;
    }

    div.farbcode {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      margin-right: 1rem;
    }
  }

  div.gewicht {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.buttons {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      flex-direction: row;
    }
  }
}