<div class="farbe">
  <div class="farbcode" [ngStyle]="{'background-color': filament.farbcode}"></div>
  <h3 *ngIf="filament.link"><a href="{{filament.link}}" target="_blank">{{filament.farbe}}</a></h3>
  <h3 *ngIf="!filament.link">{{filament.farbe}}</h3>
</div>

<h3>{{filament.hersteller.name}}</h3>

<h3>{{filament.material.name}}</h3>

<h3>{{filament.preis| number:'1.2-2'}}€</h3>

<div class="gewicht">
  <h3>{{filament.gewicht_filament | number}}g</h3>
  <h3>{{filament.gewicht_spule | number}}g</h3>
</div>

<div class="buttons">
  <section>
    <button (click)="updateFilament()" class="save"><mat-icon>edit</mat-icon>bearbeiten</button>
    <button (click)="removeFilament()" class="delete"><mat-icon>delete</mat-icon>löschen</button>
  </section>
  <button (click)="addSpool()" ><mat-icon svgIcon="spool"></mat-icon>Spule hinzufügen</button>
</div>
