@use './../../scss/var' as *;

:host {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 1rem;
  }

  div#formFilament {
    border: 0.1rem solid $prime-dark;
    margin-bottom: 1rem;
    border-radius: 1.1rem;

    h2 {
      text-decoration: underline;
      text-align: center;
      text-transform: uppercase;
      background-color: $prime-dark;
      border-radius: 1rem;
      padding: 0.5rem 0;
    }

    form {
      display: flex;
      flex-direction: column;
      
      div#inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        section {
          display: flex;
          flex-direction: column;
          margin: 0 2rem;
        }
      }

      div#actions {
        display: flex;

        button {
          width: 100%;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }

  div.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    section.buttons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

@media (max-width: $bp-mobile) {
  :host {
    div#formFilament {
      form {
        div#inputs {
          flex-direction: column;
          align-items: stretch;

          section {
            margin: 0 0.75rem;
          }
        }

        div#actions {
          flex-direction: column;

          button {
            margin: 0 1rem 1rem;
            width: auto;
          }
        }
      }
    }

    div.sort {
      flex-direction: column;
      margin-bottom: 1rem;

      section.buttons {
        justify-content: center;
      }
    }

    app-legende {
      display: none;
    }
  }
}