<button *ngIf="hiddeForm" (click)="openCreateForm()"><mat-icon>add</mat-icon>Filament hinzufügen</button>

<div [hidden]="hiddeForm" id="formFilament">
  <h2>{{ editingFilament ? 'Filament bearbeiten' : 'Filament hinzufügen' }}</h2>
  <form [formGroup]="filamentForm" (ngSubmit)="submit()">

    <div id="inputs">
      <section>
        <mat-form-field appearance="outline">
          <mat-label>Farbe</mat-label>
          <input matInput type="text" formControlName="farbe">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Farbcode</mat-label>
          <input matInput type="color"formControlName="farbcode">
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline">
          <mat-label>Hersteller</mat-label>
          <mat-select formControlName="hersteller_id">
            <mat-option *ngFor="let hersteller of herstellerList" [value]="hersteller.id">
              {{hersteller.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Material</mat-label>
          <mat-select formControlName="material_id">
            <mat-option *ngFor="let material of materialList" [value]="material.id">
              {{material.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline">
          <mat-label>Filamentgewicht (g)</mat-label>
          <input matInput type="number" formControlName="gewicht_filament" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Leere Spule (g)</mat-label>
          <input matInput type="number" formControlName="gewicht_spule" min="0">
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline">
          <mat-label>Preis (€)</mat-label>
          <input matInput type="number" formControlName="preis" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Filament URL</mat-label>
          <input matInput type="url" formControlName="link">
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline">
          <mat-label>Extruder Temperatur (°C)</mat-label>
          <input matInput type="number" formControlName="temp_extruder" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Druckbett Temperatur (°C)</mat-label>
          <input matInput type="number" formControlName="temp_bed" min="0">
        </mat-form-field>
      </section>
    </div>

    <div id="actions">
      <button class="save" type="submit"><mat-icon>save</mat-icon>{{editingFilament ? 'Filament aktualisieren' : 'Filament hinzufügen'}}</button>
      <button type="button" (click)="resetForm()"><mat-icon>replay</mat-icon>Zurücksetzen</button>
      <button class="delete" type="button" (click)="closeForm()"><mat-icon>cancel</mat-icon>Abbrechen</button>
    </div>
  </form>
</div>

<div class="filter">
  <form [formGroup]="filterForm" class="formFilter">
    <mat-form-field appearance="outline">
      <mat-label>Farbe</mat-label>
      <input matInput type="text" formControlName="farbe">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hersteller</mat-label>
      <mat-select formControlName="hersteller_id">
        <mat-option [value]="null">Alle</mat-option>
        <mat-option *ngFor="let hersteller of herstellerList" [value]="hersteller.id">
          {{hersteller.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Material</mat-label>
      <mat-select formControlName="material_id">
        <mat-option [value]="null">Alle</mat-option>
        <mat-option *ngFor="let material of materialList" [value]="material.id">
          {{material.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="range-filter">
      <label>Preis (€)</label>
      <mat-slider min="{{preisMin}}" max="{{preisMax}}" step="1" thumbLabel discrete>
        <input matSliderStartThumb formControlName="preisMin">
        <input matSliderEndThumb formControlName="preisMax">
      </mat-slider>

      <div class="range-values">
        {{filterForm.value.preisMin }} € - {{ filterForm.value.preisMax}} €
      </div>
    </div>

    <div class="range-filter">
      <label>Gewicht (g)</label>
      <mat-slider min="{{gewichtMin}}" max="{{gewichtMax}}" step="1" thumbLabel discrete>
        <input matSliderStartThumb formControlName="gewichtMin">
        <input matSliderEndThumb formControlName="gewichtMax">
      </mat-slider>

      <div class="range-values">
        {{filterForm.value.gewichtMin | number }} g - {{ filterForm.value.gewichtMax | number}} g
      </div>
    </div>
  </form>
  <button mat-stroked-button (click)="resetFilter()">
    <mat-icon>filter_alt_off</mat-icon>
    Filter zurücksetzen
  </button>
</div>

<div id="hersteller-legende" class="legende">
  <span class="farbe">Farbe</span>
  <span class="hersteller">Hersteller</span>
  <span>Material</span>
  <span>Preis</span>
  <div class="gewicht">
    <span>Gewicht Filament</span>
    <span>Gewicht Spule</span>
  </div>
  <span class="aktionen">Aktionen</span>
</div>

<app-template-list-filament *ngFor="let filament of gefilterteFilamentList" [filament]=filament (edit)="openEditForm($event)"></app-template-list-filament>