@use './../../../scss/var' as *;

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  h2.label {
    margin-bottom: 0;
    display: none;
    text-align: center;
    border: 1px solid $prime-dark;
    border-radius: 1rem;
    margin-bottom: 1rem;
    position: relative;

    mat-icon {
      margin-left: 2rem;
    }
  }

  form.formFilter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div.range-filter {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      color: $second-dark;
      width: 25rem;

      mat-slider {
        margin: 0 1.8rem;
      }
    }
  }
}

@media (max-width: $bp-mobile) {
  :host {
    h2.label {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form.formFilter {
      justify-content: center;
      overflow: hidden;
      max-height: 0;
      transition: 300ms max-height ease;

      &.open {
        max-height: 100vh;
      }

      mat-form-field,
      div.range-filter {
        width: 100%;
      }
    }
  }
}