@use './../scss/var' as *;

div#content {
  padding: 1rem;
}

#up {
  position: fixed;
  right: 0;
  bottom: 0;
  transition: all 300ms;
  max-height: 0;
  overflow: hidden;
  border-radius: 5rem;
  margin: 1.25rem;

  mat-icon {
    font-size: 3rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5rem;
    padding: 1rem;
    height: auto;
    width: auto;
    color: $black;
    opacity: 0.5;
    cursor: pointer;
  }

  &:hover > mat-icon {
    opacity: 1;
  }

  &.show {
    height: auto;
    max-height: 100vh;
  }
}