
<app-filament-filter
  [form]="filterForm"
  [config]="SPULE_FILTER_CONFIG"
  [preisMin]="preisMin"
  [preisMax]="preisMax"
  [gewichtMin]="gewichtMin"
  [gewichtMax]="gewichtMax"
  (reset)="resetFilter()"
/>

<div class="sort">
  <h3>Sortieren:</h3>
  <app-sort-button (clickSort)="setSortMode($event)" [sortModeActiv]="sortMode" [sortDirection]="sortDirection" icon="palette" sortModeSelf="farbe" titel="Farbe" />
  <app-sort-button (clickSort)="setSortMode($event)" [sortModeActiv]="sortMode" [sortDirection]="sortDirection" svg="material" sortModeSelf="material" titel="Material" />
  <app-sort-button (clickSort)="setSortMode($event)" [sortModeActiv]="sortMode" [sortDirection]="sortDirection" svg="manufacturer" sortModeSelf="hersteller" titel="Hersteller" />
  <app-sort-button (clickSort)="setSortMode($event)" [sortModeActiv]="sortMode" [sortDirection]="sortDirection" icon="location_on" sortModeSelf="ort" titel="Ort" />
  <app-sort-button (clickSort)="setSortMode($event)" [sortModeActiv]="sortMode" [sortDirection]="sortDirection" icon="pin" sortModeSelf="nummer" titel="Nummer" />
  <app-sort-button (clickSort)="setSortMode($event)" [sortModeActiv]="sortMode" [sortDirection]="sortDirection" svg="gewicht" sortModeSelf="gewicht" titel="Gewicht" />
</div>

<app-legende [items]="legende" />
<app-template-list-spule *ngFor="let spule of gefilterteSpuleList" [spule]="spule" [class.archiv]="spule.archiviert"/>
<app-no-element *ngIf="gefilterteSpuleList.length == 0" title="Keine Spule gefunden" />
