@use './../../scss/var' as *;

div.spulen-legende {
  align-items: end;
  
  span {
    width: 12rem;

    &.farbe {
      width: 17rem;
    }

    &.hersteller {
      width: 20rem;
    }

    &.aktionen {
      width: 36rem;
    }
  }
}