
<app-filament-filter
  [form]="filterForm"
  [config]="SPULE_FILTER_CONFIG"
  [preisMin]="preisMin"
  [preisMax]="preisMax"
  [gewichtMin]="gewichtMin"
  [gewichtMax]="gewichtMax"
  (reset)="resetFilter()"
></app-filament-filter>

<div class="spulen-legende legende">
  <span class="farbe">Farbe</span>
  <span class="hersteller">Hersteller - Material</span>
  <span>Verbrauchtes Gewicht</span>
  <span>Verbleibendes Gewicht</span>
  <span>NFC-Tag</span>
  <span>Ort</span>
  <span class="aktionen">Aktionen</span>
</div>

<app-template-list-spule *ngFor="let spule of gefilterteSpuleList" [spule]=spule></app-template-list-spule>
