@use './scss/var' as *;
@use 'ngx-toastr/toastr' as *;

@use '@angular/material' as mat;
@include mat.core();
$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$web-warn: mat.define-palette(mat.$red-palette);
$web-theme: mat.define-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
  )
));
@include mat.all-component-themes($web-theme);

// ##########################################################
// ##########################################################
// ##########################################################

@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Regular.ttf') format("truetype");
  font-weight: regular
}

@font-face{
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Bold.ttf') format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "Roboto Condensed";
  src: url('./assets/fonts/RobotoCondensed-Regular.ttf') format("truetype");
  font-weight: regular,
}

@font-face{
  font-family: "Roboto Condensed";
  src: url('./assets/fonts/RobotoCondensed-Bold.ttf') format("truetype");
  font-weight: bold;
}

// ##########################################################
// ##########################################################
// ##########################################################

.toast-title {
  font-size: 1.7rem;
}

.toast-message {
  font-size: 1.2rem;
}

.swal2-popup {
  font-size: 1.2rem;
}

// ##########################################################
// ##########################################################
// ##########################################################


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 10px;
  background-color: $second;
  color: $white;
  font-family: $font1;
  font-weight: regular;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  transition: all 250ms;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: $prime;
  color: $black;
  font-size: 1.35rem;

  mat-icon.mat-icon {
    font-size: 1.7rem;
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.3rem;
  }

  &:hover {
    background-color: $prime-dark;
    color: $white;
  }
  &.save {
    background-color: $green;
  }
  &.delete {
    background-color: $red;
  }
}

h1, h3{
  margin-bottom: 0!important;
}

.cdk-drop-list-dragging {
  background: rgba(13, 71, 161, 0.25);
}

.cdk-drag-placeholder {
  opacity: 0;
}

div.ort-sort-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ort-sort-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fafafa;
  cursor: grab;

  &.disabled {
    background: #f0f0f0;
    color: #999;
    cursor: not-allowed;
  }
}

.drag-handle {
  cursor: grab;
  font-size: 18px;

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.dragging {
  opacity: 0.5;
}

.input-Gewicht {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.bestand {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    label {
      display: flex;
      flex-direction: column;
      text-align: center;

      input {
        width: 8rem;
      }
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;

    span {
      font-size: 1.4rem;
      width: 12rem;
      margin-bottom: 0.5rem;

      b {
        font: 1.7rem;
        text-decoration: underline;
      }
    }

    input {

      &[type="number"] {
        margin: 0.7rem 1rem;
        width: 20rem;
        text-align: center;

        &.disabled {
        color:  $second;
        margin: 0.2rem 1rem;
      }
      }
    }
  }

  .radio-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {

      input {
        margin-right: 1rem;
      }

      span {
        width: 100%;
        text-align: left;
        margin: 0;
      }
    }
  }
}