@use './scss/var' as *;


@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Regular.ttf') format("truetype");
  font-weight: regular
}

@font-face{
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Bold.ttf') format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "Roboto Condensed";
  src: url('./assets/fonts/RobotoCondensed-Regular.ttf') format("truetype");
  font-weight: regular,
}

@font-face{
  font-family: "Roboto Condensed";
  src: url('./assets/fonts/RobotoCondensed-Bold.ttf') format("truetype");
  font-weight: bold;
}

// ##########################################################
// ##########################################################
// ##########################################################

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 10px;
  background-color: $second;
  color: $white;
  font-family: $font1;
  font-weight: regular;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }