@use './scss/var' as *;

@use '@angular/material' as mat;
@include mat.core();
$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$web-warn: mat.define-palette(mat.$red-palette);
$web-theme: mat.define-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
  )
));
@include mat.all-component-themes($web-theme);

// ##########################################################
// ##########################################################
// ##########################################################

@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Regular.ttf') format("truetype");
  font-weight: regular
}

@font-face{
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Bold.ttf') format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "Roboto Condensed";
  src: url('./assets/fonts/RobotoCondensed-Regular.ttf') format("truetype");
  font-weight: regular,
}

@font-face{
  font-family: "Roboto Condensed";
  src: url('./assets/fonts/RobotoCondensed-Bold.ttf') format("truetype");
  font-weight: bold;
}

// ##########################################################
// ##########################################################
// ##########################################################

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 10px;
  background-color: $second;
  color: $white;
  font-family: $font1;
  font-weight: regular;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }