@use './../../scss/var' as *;

div.hersteller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80rem;
  margin-bottom: 1rem;

  div.filament {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 0.75rem 0;
    margin: 0.5rem 0;

    &.legende {
      align-items: flex-end;
      border: none;
    }
  }

  span {
    width: 10rem;
    text-align: center;

    &.farbe {
      width: 20rem;
    }

  }
}