@use './../../scss/var' as *;

:host {

  div.buttons {
    display: flex;
    justify-content: space-around;
    button {
      width: 100%;
    }
  }
  
  div#orte {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: $bp-mobile) {
  :host {
    div.buttons {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}