<div id="material">
  <button (click)="addMaterial(materialSearch)"><mat-icon>add</mat-icon>Material hinzufügen</button>

  <mat-form-field appearance="outline">
    <mat-label>Material suchen...</mat-label>
    <input matInput type="text" [(ngModel)]="materialSearch" (input)="filterMaterial()">
  </mat-form-field>

  <app-legende [items]="legendeMaterial" />
  <app-template-list-material *ngFor="let material of gefilterteMaterialList" [material]="material" />
  <app-no-element *ngIf="gefilterteMaterialList.length == 0" title="Kein Material gefunden" class="material" />
</div>

<div id="hersteller" >
  <button (click)="addHersteller(herstellerSearch)"><mat-icon>add</mat-icon>Hersteller hinzufügen</button>

  <mat-form-field appearance="outline">
    <mat-label>Hersteller suchen...</mat-label>
    <input matInput type="text" [(ngModel)]="herstellerSearch" (input)="filterHersteller()">
  </mat-form-field>

  <app-legende [items]="legendeHersteller" />
  <app-template-list-hersteller *ngFor="let hersteller of gefilterteHerstellerListe" [hersteller]="hersteller" />
  <app-no-element *ngIf="gefilterteHerstellerListe.length == 0" title="Kein Hersteller gefunden" class="hersteller" />
</div>