<div id="material">
  <button (click)="addMaterial(materialSearch)"><mat-icon>add</mat-icon>Material hinzufügen</button>

  <mat-form-field appearance="outline">
    <mat-label>Material suchen...</mat-label>
    <input matInput type="text" [(ngModel)]="materialSearch" (input)="filterMaterial()">
  </mat-form-field>

  <div id="material-legende" class="legende">
    <span>Name</span>
    <span>Durchmesser</span>
    <span>Dichte</span>
    <span>Aktionen</span>
  </div>

  <app-template-list-material *ngFor="let material of gefilterteMaterialList" [material]=material></app-template-list-material>

  <p *ngIf="gefilterteMaterialList.length === 0" id="noMaterial">Kein Material gefunden</p>
</div>

<div id="hersteller" >
  <button (click)="addHersteller(herstellerSearch)"><mat-icon>add</mat-icon>Hersteller hinzufügen</button>

  <mat-form-field appearance="outline">
    <mat-label>Hersteller suchen...</mat-label>
    <input matInput type="text" [(ngModel)]="herstellerSearch" (input)="filterHersteller()">
  </mat-form-field>

  <div id="hersteller-legende" class="legende">
    <span>Name</span>
    <span>Aktionen</span>
  </div>

  <app-template-list-hersteller *ngFor="let hersteller of gefilterteHerstellerListe" [hersteller]=hersteller></app-template-list-hersteller>
  <p *ngIf="gefilterteHerstellerListe.length == 0" id="noHersteller">Kein Hersteller gefunden</p>
  </div>