@use './../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-around;

  div#material,
  div#hersteller {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 2rem;
    }
  }
}