@use './../../scss/var' as *;

:host {
  display: flex;
  justify-content: space-around;

  div {
    display: flex;
    flex-direction: column;
    min-width: 45rem;

    button {
      margin-bottom: 2rem;
    }

    p {
      text-align: center;
      border: 1px solid $prime-dark;
      padding: 0.7rem;
      border-radius: 1rem;
    }
  }
}