@use './../../scss/var' as *;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div#material,
  div#hersteller {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: $bp-mobile) {
  :host {
    flex-direction: column;
    gap: 2rem;

    div#material,
    div#hersteller {
      width: 100%;

      app-legende {
        display: none;
      }
    }
  }
}